/* assets/style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    font-family: "Roboto Mono", monospace;    
    margin: 0;
    background-color: #ffffff;
}

.header {
    background-color: #222222;
    height: 120px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 100vw;
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border: none;
}

.grafico_and_card {
    margin-right: auto;
    margin-left: auto;
    max-width: 100vw;
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 0px;
    border: none;
}

.graph_bar {
    margin-bottom: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-left: 10px;
    /*margin-right: auto;*/
    background-color: rgb(255, 255, 255);
    
   
}

.menu {
    border-radius: 15px;
    height: 90px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    background-color: #0c89ff;
    
}

.Select-control {
    position: relative;
    right: 2px;
    bottom: 5px;
    width: 296px;
    height: 20px;
}

.Select--single >.Select-control .Select-value,
.Select-placeholder {
    line-height: 30px;
    font-weight: bold;
}

.Select--multi .Select-value-label {
    line-height: 30px;

}

.menu-title {
    position: relative;
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.dropdown {
    font-size: 16px;
    
    
}

.card_contenedor{
    margin-bottom: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: space-around;
    justify-content: flex-start;
    height: 230px;
    width: 250px;
    
  }

.contenedor-icono-texto {
    border-radius: 10px;
    
    display: flex;            /* Flexbox para alinear */
    overflow: hidden;    
    width: 100%;                  /* O el ancho que desees */
    height: 80px;   
}

.bloque-azul {
    flex: 0 0 30%;                /* No crecer, no encoger, base 30% */
    background-color: #007bff; 
    display: flex;
    justify-content: center;      /* Centrar horizontalmente */
    align-items: center;          /* Centrar verticalmente */
    
  }


  .bloque-azul i {
    background-color: #007bff; /* Fondo azul */
    color: rgb(255, 255, 255);
    font-size: 40px;          /* Tamaño del ícono */
    
    
}

  .bloque-gris {
    flex: 0 0 70%;                /* No crecer, no encoger, base 70% */
    background-color: #eeeeee;    /* Color gris */
    display: flex;
    justify-content: center;      /* Centrar horizontalmente */
    align-items: center;          /* Centrar verticalmente */
    font-size: 22px;
    color: #222222;
    font-family: "Roboto Mono", monospace; 
    

    }

.graph_line {
        margin-bottom: 10px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 1px;
        margin-left: 10px;
        /*margin-right: auto;*/
        background-color: rgb(255, 255, 255);
    }

.grafico-evolucion {
    margin-right: auto;
    margin-left: auto;
    max-width: 100vw;
    background-color: #ffffff;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    border: none;
}

.grafico-origen {
    margin-right: auto;
    margin-left: auto;
    max-width: 100vw;
    background-color: #ffffff;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    border: none;
}

.graph_pie {
    margin-bottom: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-left: 10px;
    /*margin-right: auto;*/
    background-color: rgb(255, 255, 255);
     height: 550px;
}

.tabla_origen_contenedor{
    margin-bottom: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: auto;
    background-color: rgb(255, 252, 252);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: space-around;
    justify-content: flex-start;
    height: 550px;
    width: 570px;
    
  }
